@page
@model NobelLaureateDetails.Pages.AboutPageModel
@{
    ViewData["Title"] = "AboutPage";
}

<h1>Nobel Laureates and Prizes</h1>
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">Awarded for<span class="text-muted"> the greatest benefit to mankind</span></h2>
        <p class="lead">
            Between 1901 and 2019, the Nobel Prizes and the Prize in Economic Sciences were
            awarded 597 times to 950 people and organisations. The Nobel Prize is an
            international award administered by the Nobel Foundation in Stockholm, Sweden,
            and based on the fortune of Alfred Nobel, Swedish inventor and entrepreneur.
            In 1968, Sveriges Riksbank established The Sveriges Riksbank Prize in Economic
            Sciences in Memory of Alfred Nobel, founder of the Nobel Prize. Each prize consists
            of a medal, a personal diploma, and a cash award.
            <h5>Quick Facts :</h5>
            <ul>
                <li>Awards: 597</li>
                <li>Laureates: 950</li>
                <li>Prize categories: 6</li>
                <li>Awarded women: 53</li>
                <li>Youngest laureate: 17</li>
                <li>Oldest laureate: 97</li>
            </ul>
        </p>
    </div>
    <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto" alt="Noble prize medal" src="~/img/Nobel_Prize.png" style="width: 100%;">
    </div>
</div>


<h3>Quick Guide to Discover Nobel Laureates</h3>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">Fine Nobel Laureates. <span class="text-muted">Basis category and years.</span></h2>
        <p class="lead">
            Following are the steps/process to be followed inorder to discover Nobel Laureates. Navigate through the page and enter the category along with specific range of years(entering years is mandatory). This will list all the laureates who received nobel prize during those years.
        </p>
    </div>
    <div class="col-md-7">
        <img class="featurette-image img-fluid mx-auto" alt="Laureate search" src="~/img/guide1.png" style="width: 100%;">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading">Discover more about them. <span class="text-muted">Learn about their work and affiliations.</span></h2>
        <p class="lead">
            Also the "learn more" tab highlights additional information about the laureates like
            <ul>
                <li>Name</li>
                <li>Age</li>
                <li>Gender</li>
                <li>Born Date</li>
                <li>Death Date</li>
                <li>Other prizes won by the laureate</li>
                <li>Affiliations (if any) with university</li>
            </ul>
        </p>
    </div>
    <div class="col-md-7 order-md-1">
        <img class="featurette-image img-fluid mx-auto" alt="Laureate details" src="~/img/guide2.png" style="width: 100%;">
    </div>
</div>


