@page
@model NobelLaureateDetails.Pages.AboutPageModel
@{
    ViewData["Title"] = "AboutPage";
}

<h1>NOBEL PRIZES AND LAUREATES</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:100%; height: auto !important; margin:auto">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../img/about1.png" alt="First slide" width="500" height="500">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/about2.png" alt="Second slide" width="500" height="500">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/about3.png" alt="Third slide" width="500" height="500">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../img/about4.png" alt="Fourth slide" width="500" height="500">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<h3>Awarded for “the greatest benefit to mankind”</h3>
<hr />
<p>
    Between 1901 and 2019, the Nobel Prizes and the Prize in Economic Sciences were
    awarded 597 times to 950 people and organisations. The Nobel Prize is an
    international award administered by the Nobel Foundation in Stockholm, Sweden,
    and based on the fortune of Alfred Nobel, Swedish inventor and entrepreneur.
    In 1968, Sveriges Riksbank established The Sveriges Riksbank Prize in Economic
    Sciences in Memory of Alfred Nobel, founder of the Nobel Prize. Each prize consists
    of a medal, a personal diploma, and a cash award.
</p>
<br />

<h3>Quick Guide to Discover Nobel Laureates</h3>
<hr />
<p>
    Step : 1
    <br />
    Following are the steps/process to be followed inorder to discover Nobel Laureates
    Navigate through the page and enter the category along with specific range of years(entering years is mandatory).
    This will list all the laureates who received nobel prize during those years.
    <br />
    <br />
    <img src="../img/guide1.png" height="300" widht="200">
    <br />
    <br />
    Step : 2
    <br />
    Also the "learn more" tab highlights additional information about the laureates like
    <ul>
        <li>Name</li>
        <li>Age</li>
        <li>Gender</li>
        <li>Born Date</li>
        <li>Death Date</li>
        <li>Other prizes won by the laureate</li>
        <li>Affiliations (if any) with university</li>
    </ul>
    <br />
    <img src="../img/guide2.png" height="300" widht="200">
</p>
<h3>Quick Facts<a href="http://localhost:61223"><font size="3">     More About Quick Facts</font></a></h3>
<hr />
<ul>
    <li>Awards: 597</li>
    <li>Laureates: 950</li>
    <li>Prize categories: 6</li>
    <li>Awarded women: 53</li>
    <li>Youngest laureate: 17</li>
    <li>Oldest laureate: 97</li>
</ul>


