@page
@{
}
<style>
    body {
        background-image: url("../img/background2.jpeg");
        background-position: center center;
    }
</style>
<br />
<h1 align="center", style="font-family:'Times New Roman', Times, serif";><span style="color: gold"><strong>THE NOBEL PRIZE LAUREATES</strong></span></h1>
<p align="center"><button type="button" class="btn btn-outline-warning" onclick="window.location.href = 'http://localhost:5000/';">Click here to discover</button></p>
<br />
<br />
<br />
<br />
<br />
<h3 align="right", style="font-family:'Times New Roman', Times, serif";><span style="color: darkgoldenrod">Contentment is the only real wealth</span></h3>
<h3 align="right", style="font-family:'Times New Roman', Times, serif";><span style="color: darkgoldenrod">-Alfred Nobel</span></h3>