@page
@{
}
<style>
    body {
        background-image: url("../img/background2.jpeg");
        background-size: cover;
    }
</style>
<br />
<h1 align="center", style="font-family:'Times New Roman', Times, serif";><span style="color: gold"><strong>THE NOBEL PRIZE LAUREATES</strong></span></h1>
<p align="center"><button type="button" class="btn btn-outline-warning" onclick="window.location.href = 'http://localhost:5000/';">Click here to discover</button></p>
<br />
<h4 align="right", style="font-family:'Times New Roman', Times, serif";><span style="color: darkgoldenrod"><em>Contentment is the only real wealth</em></span></h4>
<h5 align="right", style="font-family:'Times New Roman', Times, serif";><span style="color: darkgoldenrod"><em>-Alfred Nobel</em></span></h5>
<iframe align="right" class="noprint" width="420" height="325" src="https://www.youtube.com/embed/ykUXN0gkt7M">
</iframe>