@page
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>THE NOBEL PRIZE LAUREATES</title>
    <link rel="stylesheet" href="/css/home.css" media="only screen and (min-width: 800px)" type="text/css" />
</head>
<body>
    <br />
    <h1 align="center"><strong>THE NOBEL PRIZE LAUREATES</strong></h1>
    <p align="center"><button type="button" class="btn btn-outline-warning" onclick="window.location.href = 'http://localhost:5000/';">Click here to discover</button></p>
    <br />
    <h4 align="right"><em>Contentment is the only real wealth</em></h4>
    <h5 align="right"><em>-Alfred Nobel</em></h5>
    <iframe align="right" width="420" height="325" src="https://www.youtube.com/embed/ykUXN0gkt7M">
    </iframe>
</body>
</html>